Options -MultiViews

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^leistungen/knie-schulter-therapie/?$ /leistungen/ [R=301,L]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>
